@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #ddcfc0;
  font-family: "Alata", sans-serif;
  color: #1103cc;
  display: flex;
  position: relative;
}

* {
  box-sizing: border-box;
}

div.wrapper {
  width: 600px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.wrapper header,
div.wrapper .addTask {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #1103cc;
}

div.wrapper .addTask {
  border: none;
  padding: 30px 0px 20px 0px;
}

div.wrapper .addTask input[type="text"] {
  border: 1px solid #1103cc;
  padding: 10px;
  width: 70%;
  font-family: inherit;
}

div.wrapper .addTask input:focus {
  outline: 0;
}

div.wrapper .addTask input[type="button"] {
  background-color: #1103cc;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
  font-family: inherit;
  color: white;
  border: none;
}

div.wrapper li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px 20px 0;
}

div.wrapper li .contents.complete {
  color: gray;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}
